name: Deploy Infra & Config

on:
  workflow_dispatch: # déclenchement manuel

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Récupération du code
      - name: Checkout repository
        uses: actions/checkout@v5

      # 2️⃣ Connexion à Azure via OIDC
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 3️⃣ Installation Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.1

      # 4️⃣ Installation Ansible
      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible jq

      # 5️⃣ Terraform init & apply
      - name: Terraform Apply
        working-directory: ./terraform/iaas
        env:
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        run: |
          terraform init -input=false
          terraform apply -auto-approve

      # 6️⃣ Génération de l'inventaire Ansible
      - name: Generate Ansible inventory
        working-directory: ./terraform/iaas
        run: |
          mkdir -p ../../ansible
          VM_IP=$(terraform output -raw vm_public_ip)
          echo "$VM_IP" > ../../ansible/inventory.ini

      - name: Debug folder structure
        working-directory: ./terraform/iaas
        run: |
          pwd
          ls -R

      # 7️⃣ Lancement du playbook Ansible
      - name: Run Ansible Playbook
        working-directory: ./terraform/iaas
        run: |
          ls -l
          ansible-playbook -i ../../ansible/inventory.ini ../../ansible/playbook.yml --private-key ./tls_private_key.pem
